* {
  box-sizing: border-box;
}
body {
  margin: 0;
  height: 600px;
}
.center {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.water {
width: 400px;
height: 300px;
}

